.addTask {
  justify-content: center;
  display: flex;
  margin: 5px;
}
input {
  margin: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 300px;
  height: 80px;
  padding: 5px;
}

.deleteButton {
  padding: 5px;
}
